  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    opacity: 0.7;
  }

  #lista{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0;
  }
  head, body{
    background:  black;
  }

  title, p{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
  }
  #insta{
    font-size:20px;
  }
  .button{
    display: block;
    width: 100%;
    text-align: center;
  }